@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500&display=swap");

.App {
  background-color: aliceblue;
  height: 100vh;
}

.Container-app {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 15px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.App-Input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.Button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 20px;
}
